.selected-collections{
    color: red;   
    
  } 
  .ant-dropdown-menu-item-active{
    background-color: rgb(82, 82, 255) !important;
    color: aliceblue !important;

  }
  /* .ant-dropdown-menu-item-only-child{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  } */
  .ant-dropdown-menu-item-active .selected-collections{
    /* background-color: blue !important; */
    color: aliceblue !important;
    
    /* margin: 0.2em 0em; */
  }
  
  /* .not-selected-collections{
    background-color: rgb(15, 87, 150);
    color: black !important;
  } */
  
  .main-header-dropdown-collections{
    background-color: rgb(82, 82, 255);
    border: 1px solid rgb(25, 25, 25, 0.2);
    color: aliceblue ;
    padding: 0.6em 1em;
    border-radius: 0.4em;
    /* box-shadow: 0px 3px 8px rgb(75, 75, 75); */
    height: fit-content !important;
    font-size: 0.8em !important;
  }
  